/*-------Global-------*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
:root {
    --main-black: #1E202B;
    --main-blue: #08AEEA;
    --main-green: #2AF598;
    --main-gradient: linear-gradient(to right, var(--main-blue), var(--main-green));
}
::selection {
  background: #2AF598; /* WebKit/Blink Browsers */
  color: #08AEEA;
}
::-moz-selection {
  background: #2AF598; /* Gecko Browsers */
  color: #08AEEA;
}

html {
    font-family: Source Sans Pro, sans-serif;
}
body {
    width: 100%;
    background-color: white;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--main-black);
}
h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--main-black);
}

p, li {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-black);
}

span {
    color: var(--main-green);
}
 
.introText {
    margin-top: -120px;
}

/*******Buttons*****/
.btnWhite {
    display: inline-block;
    text-decoration: none;
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 135px;
	background: #2af598; /* Old Browsers */
	background: -webkit-linear-gradient(top right,#2af598,#08aeea); /*Safari 5.1-6*/
	background: -o-linear-gradient(top right,#2af598,#08aeea); /*Opera 11.1-12*/
	background: -moz-linear-gradient(top right,#2af598,#08aeea); /*Fx 3.6-15*/
	background: linear-gradient(top right, #2af598, #08aeea); /*Standard*/ 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btnGroup {
        position: relative;
        z-index: 1;
}

.whiteBG {
    background-color: white;
    display: block;
    height: 60px;
    width: 200px;
    position: absolute;
    z-index: -1;
    top: 0;
    border-radius: 3px;
}

.btnColor {
    display: inline-block;
    text-decoration: none;
    width: 200px;
    height: 60px;
	line-height: 60px;
    text-align: center;
    background-image: var(--main-gradient);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 3px;
}

.btnGreen {
    color: var(--main-green);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.btnColor:hover {
	-webkit-box-shadow: -400px 0 0 #08AEEA inset;
}

/*-------Header/Nav-------*/
nav {
    display: inline-block;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    line-height: 100px;
}
.logo {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 2px;
}
nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 50px;
}

header h1 {
    color: white;
    width: 55%;
    margin: 90px 0 40px 0;
}

header p {
    color: white;
    margin-bottom: 40px;
    opacity: 0.9;
}

header {
    background-image: url(images/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 900px;
    width: 90%;
    padding: 0 5%;
    position: relative;
}

.ipad {
    width: 60%;
    position: absolute;
    right: 0;
    bottom: -90px;
}

.iphone {
    width: 40%;
    position: absolute;
    right: 4%;
    top: 150px;
    display: none;
}

.mobile {
   display: none;
}

label {
    margin: 0 40px 0 0;
    font-size: 25px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 32px;
    right: 0;
}

#toggle {
    display: none;
}

.mobile ul {
    text-align: center;
    width: 100%;
    display: none;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
} 

.mobile ul li {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#toggle:checked ~ ul{
    display: block;
}

footer ul li:hover {
        color: #2af598;
    }

/*-------New 4K Movies-------*/
.new4KMovies {
    width: 90%;
    padding: 0 5%;
    margin-bottom: 160px;
}

.sectionTitle h2, .sectionTitle a {
    display: inline-block;
    vertical-align: middle;
}

.sectionTitle a {
    margin-left: 20px;
}

.sectionTitle {
    margin: 50px 0 20px 0;
}

.new4KMovies ul {
    width: 100%;
    display: flex;
    list-style: none;
}

.new4KMovies ul li img {
    width: 92%;
    margin: 4%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.16);
}

/*-------CTA-------*/
.callToAction {
    text-align: center;
    width: 60%;
    margin: 0 auto 200px auto;
}

.callToAction h1 {
    margin-bottom: 40px;
}


/*-------Footer-------*/
footer a {
    text-decoration: none;
    color: var (var(--main-black));
}

footer ul {
    list-style: none;
    float: right;
}

footer ul li {
    display: inline-block;
    margin-left: 50px;
}

.copy a, .copy p {
    display: inline-block;
    vertical-align: middle;
}

.copy p {
    margin-left: 20px;
}

footer {
    width: 90%;
    padding: 0 5%;
}

footer ul, .copy {
    line-height: 80px;
    display: inline-block;
}

/******Hover Effect*****/
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	visibility: hidden;

}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: #08AEEA;
	float: left;
	margin: 0px;
	display: inline-block;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


/*-------Responsive-------*/
@media only screen and (max-width: 1200px) {
    header {
        height: 100vH;
        min-height: 1000px;
    }
    header h1 {
        margin: 50px 0 40px 0;
    }
    .btnWhite {
        margin-bottom: 80px;
    }
    .callToAction {
        width: 90%
    }
	.callToAction {
        width: 90%;
    }
    .iPad {
        display: none;
    }
    .iphone {
        /* display: block; */
    }   
    .mobile {
    	display: none;
    }
}

@media only screen and (max-width: 900px) {
    header h1 {
        width: 100%;
        font-size: 40px
    }
    header {
        background-position: left center;
    }
    footer ul {
        float: none;
        display: block;
        text-align: center;
    }
    .copy {
        text-align: center;
        display: block;
    }
    footer ul li {
        margin: 0 25px;
    }
    .iphone {
        display: none
    }
    .ipad {
        width: 60%;
        position: absolute;
        left: 350px;
        bottom: 90px;
    }
    .introText {
    margin-top: -50px;
    }
}

@media only screen and (max-width: 700px) {
    .new4KMovies ul {
        flex-direction: column;
    }
    .ipad {
    	display: none;
    }
    .iphone {
	width: 100%;
    position: absolute;
    right: ;
    top: 250px;
    display:flex;
    }
    .desktop {
        display: none
    }
    .mobile {
        display:table-row
    }
    nav ul li {
        margin: 0;
    }
    footer ul li {
        display: ;
        font-size: 10px;
        color: #08AEEA;
    }
    footer ul li:hover {
        display: ;
        font-size: 10px;
        color: #2af598;
    }
    h1 {
        display: none;
    }
    .mobileTitle {
    	display:initial;
    	font-size: 30px;
    }
    .introText {
    margin-top: 480px;
    }
    .callToAction {
    	margin-top: -30% !important;
    }
    .callToAction h1 {
    	display:initial;
    }
}
